.orange{
   background-color: rgb(216, 87, 0); 
}

.orangeText{
   color: rgb(216, 87, 0); 
 }
 

.Newcolor{
    background-color: rgb(236,236, 236); 
 }
 

 .nav-item{
    color: rgb(206, 201, 201);
 }