*{
    margin:0;
    padding:0;
}


header{
 background-color: pink;
 height: 55px;

}
html{
  height: 100%;
}
body{
    min-height: 130%;
}

 .container{
    min-height: 130%;
}

 footer{
 background-color: pink;
height: 55px;
position: fixed;
bottom: 0;
width: 100%;
}